<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Deadline Visual Tracker</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    $(document).ready(function(){

      //Event Listeners
    //   $("#submit").on("click",function(){
        $.ajax({

          method: "POST",
          url: "/test",
          dataType: "json",
          data: { 
          },
          success: function(result,status) {
              
          }

        });//ajax
    //   })//submit
      
      
      
    })//ready
  </script>

</head>
<body>
   
</body>
</html>

